* {
  margin: 0;
  padding: 0;
}

/* navbar */
#nav {
  position: sticky;
  top: 0;
  z-index: 1001;
}

.navbar-brand span {
  padding: 0;
}

.navbar-nav li {
  padding: 0 10px;
  float: center;
}

.navbar-nav li a {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  text-transform: capitalize;
}

/* ----------------- */

h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: #444;
  padding: 0 0 10px;
}

h2,
h3 {
  font-size: 18px;
}

/* Banner */
#banner {
  position: relative;
  text-align: left;
  background: rgb(53, 125, 44);
  background: linear-gradient(
    180deg,
    rgba(53, 125, 44, 1) 27%,
    rgba(102, 197, 89, 1) 100%
  );

  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}

#banner > .banner > .container > img {
  margin-bottom: 30px;
}

#banner > .banner > .container button {
  background-color: white;
  color: green;
  top: 0;
  font-weight: 700;
  cursor: pointer;
}

#about {
  position: relative;
  text-align: left;
  background: rgb(53, 125, 44);
  background: linear-gradient(
    180deg,
    rgba(53, 125, 44, 1) 27%,
    rgba(102, 197, 89, 1) 100%
  );

  color: white;
  padding-top: 10%;
  padding-bottom: 15%;
}

#about > .about > .container {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.15px;

  color: #ffffff;
}

#visi_misi {
  position: relative;
  text-align: left;
  background: #f1faf0;

  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

#visi_misi > .head-visi_misi > .container {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.15px;
  margin: auto;
  color: #24475b;
}

.success {
  border-color: #04aa6d;
  color: green;
  border-radius: 5px;
}

.wave {
  position: absolute;
  bottom: -10%;
  left: 0;
}

hr {
  width: 30%;
}

.center {
  margin: auto;
  padding: 3px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 75px;
}

.subscribe {
  width: 150px;
}

.icon-footer {
  width: 35px;
}

.icon-footer-squer {
  width: 30px;
}

.footer {
  background: #357d2c;
  color: white;
}

.footer > ul > * {
  color: white;
}

.sidebar {
  background: rgb(53, 125, 44);
  background: linear-gradient(
    180deg,
    rgba(53, 125, 44, 1) 27%,
    rgba(102, 197, 89, 1) 100%
  );
}

.nav-link {
  color: white;
}

.nav-link:hover {
  font-weight: bold;
  color: #f1faf0;
}

.nav-link:current {
  font-weight: bold;
  color: #f1faf0;
}
